#new_order
  .container
    = render "shared/flash"
    .row
      .col-lg-7.order_form
        %h1 Información de contacto
        = render 'form'
      .col-lg-5
        = image_tag "new_dog_2.png"



