#cancel_order
  .container
    .row
      .col-lg-4
        = image_tag "new_dog_2.png"
      .col-lg-8.cancel_text
        %h1 Aviso
        %p lamentablemente su pedido no se ha podido realizar
        %p intenteló de nuevo en otro momento
        %p por favor
        %h3 Disculpe las molestias

