#success_order
  .container
    .row
      .col-lg-4
        = image_tag "new_dog_2.png"
      .col-lg-8.success_text
        %h1 Muchas gracias
        %p su pedido se ha realizado correctamente
        %p recibirá un email de confirmacion






