@import "../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss"
@import "utilities"



#container


  .menu-admin
    background: $header_color
    border: none

    .main-admin-menu
      padding-top: 2%
