#content
  .container
    .row
      .col-lg-12
        #info
          %p
            PAGINA WEB EN CONSTRUCCIÓN
          %br/
          %p
            POR FAVOR PONGANSE EN CONTACTO EN
          %br/

          %p.bold
            = mail_to "info@maximilianodeyork.com", "INFO@MAXIMILIANODEYORK.COM"