#content_us
  .container.us_content
    .row
      .col-lg-7.col-lg-push-5.col-sm-7.text_us
        %h4
          MAXIMILIANO DE YORK
        %p
          Ropa para perros pequeños
        %p
          Maximiliano de York nace en Madrid en el año 2008 creando jerseys a mano para perros pequeños de entre 500 gramos y 3 kilos de peso.
          En 2010 se amplia la gama creando abrigos en tela, modelos sencillos muy calentitos al estar forrados con  polar para mayor comodidad y confort.
          En 2012 los abrigos se crean en  2 tallas más para vestir a perros de hasta 6 kilos de peso.
          Los materiales utilizados lanas y tejidos son de primera calidad, pueden lavarse sin deteriorarse.
        %h5 ¿Qué le hace diferente?
        %p
          Confecciona ropa para perros  pequeños, Chihuahua, Ratón de Praga, Yorkshire, Maltes, Caniche, Crestado Chino, Westy, perros de entre 500 gramos a 6 kilos de  peso.
        %p Los jerseys se confeccionan a mano con todo el cuidado y mimo que exigen las prendas pequeñas, son modelos sencillos a los que se añaden adornos como pompones, flecos, bordados, algunos modelos llevan pintado a mano corazones, huesitos.
        %p Los abrigos confeccionados con buenas telas y el esmero característico de la firma, son elegantes sin olvidar las últimas tendencias se les incorporan cadenas, perlas, piedras.
        %h5 Personalidad de la marca
        %p
          El consumidor final, el propietario del perro, al ver las prendas y decidirse a comprarlas debe pensar que son DIVERTIDAS, CALIENTES, CÓMODAS, PRÁCTICAS, ÚNICAS.
          Los modelos se ajustan perfectamente al perro realzando su figura.
        %h5 Mercado.
        %p
          Dirigido a mujeres y hombres con  poder adquisitivo de nivel medio alto a alto,  que buscan algo diferente para vestir a sus perros, ropa cómoda y elegante, 
        %h5 Futuro
        %p
          En el año 2013 se lanza una colección de prendas para el verano, vestidos y camisetas para los más frioleros y aquellos que viven en  zonas más frescas.
          Una colección de collares y correas a juego con los trajes.

      .col-lg-5.col-lg-pull-7.col-sm-5
        = image_tag ('dog.png'), class: "img-responsive"