/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 *= require_self
 *= require_tree .
 */

@import "utilities"


body, html
  font-family: 'Raleway', sans-serif
  height: 100%
  #container
    background: $header_color
    height: 100%
    #logo
      margin: 10px 60px 0 10px
      .no-border
        &:hover
          border: none
    nav.main_nav
      height: 100px
      line-height: 100px
      ul
        list-style-type: none
        li
          font-size: 18px
          letter-spacing: 1.5px
          color: $font_color
          float: left
          margin-right: 70px
          font-weight: 600

    .small-menu
      ul

        padding-right: 3.857em // 54px/14px
        li
          display: block
          list-style-type: none
          text-align: center
          font-size: 1.429em  //14px/20px

        a
          display: block


    .footer
      color: $font_color !important
      background: $header_color !important
      nav.footer_nav
        ul
          list-style-type: none
          li
            float: left
            margin-right: 8px
          li:first-child:after
            content: "|"
            margin-left: 5px
      span
        a
          color: $font_color
