// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "utilities"

.table_cart
  margin-top: 30px
  width: 800px
  tr:first-child, tr:last-child

  tr

    th
      font-size: 12px
      text-align: center
    td
      vertical-align: middle
      text-align: center
    .table_img
      border: 2px solid $font_color
      border-radius: 10px
