@import "utilities"
@import url(http://fonts.googleapis.com/css?family=Marck+Script)
@import url(http://fonts.googleapis.com/css?family=Mr+Bedfort)


body, html
  height: 100%
  -webkit-transition: all 2s ease-in-out
  -moz-transition: all 2s ease-in-out
  -o-transition: all 2s ease-in-out
  transition: all 2s ease-in-out
  #container
    min-height: 100%
    height: auto !important
    height: 100%
    padding: 0 0 80px
    margin: 0 auto -60px
    overflow: hidden
    .color_header
      background: $header_color
      padding: 20px 0

    #logo
      padding-top: 10px
      .no-border
        &:hover
          border: none

    .main_menu, .small-menu
      .dropdown-menu
        li
          float: left
          margin-right: 40px
          a
            color: $font_color
            font-size: 1.429em

            &:hover
              background: none

        .dropdown-submenu > .dropdown-menu
          top: 30px
          li
            a
              font-size: 1.000em
        .underline
          border-bottom: 2px solid $font_color
        .visible
          display: block
        .active
          border-bottom: 2px solid $font_color
        .coleccion
          left: 41px
        .urbano
          left: 210px
        .accesorios
          left: 343px


    .small-menu
      text-align: center
      width: 200px
      margin: 0 auto
      position: relative
      .small-menu-button
        background: url('menu-icon.png') no-repeat 0 0
        background-size: 20px
        margin: 0
        position: absolute
        width: 20px
        height: 20px
        bottom: -1px
        left: 90px
        cursor: pointer

      .small-menu-list
        li
          a
            display: inline


    .notice, .alert
      width: 400px
      border: 2px solid rgba(189,245,222,1)
      border-radius: 6px
      margin: 0 auto
      padding: 0 95px
      font-size: 20px
      margin-top: 10px
      height: 50px
      color: white
      line-height: 50px
      background: rgba(76,174,76,.5)

    .alert
      background: rgba(210,50,45,1)
      border: 2px solid rgba(212,63,58,1)
      padding: 0 79px


  #footer_content
    color: $font_color !important
    background: $header_color !important
    nav.footer_nav
      ul
        list-style-type: none
        height: 60px
        line-height: 60px
        li
          float: left
          margin-right: 8px
        li:after
          content: "|"
          margin-left: 5px
        li:last-child:after
          content: ""
          margin-left: 5px
    span
      height: 60px
      line-height: 60px
      a
        color: $font_color
