@import "../../../vendor/assets/stylesheets/bootstrap/bootstrap.scss"

@import "utilities"

.dropdown-menu
  letter-spacing: 1px
  background: none
  border: none
  box-shadow: none
  li
    a
      padding: 0

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus
  background-color: none

