// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "utilities"

#collection
  height: 100%
  .gallery_row
    margin-top: 30px
    .ourHolder
      list-style-type: none
      li
        float: left
        margin-bottom: 30px

    .gallery_img
      border: 6px solid $font_color
      border-radius: 10px


.show_container
  height: 459px
  line-height: 459px
  .info_product
    margin-top: 70px

  p, th, tr, hr, li, form, input
    line-height: 1.1



.show_img
  border: 6px solid $font_color
  border-radius: 10px
.small_img
  border: 3px solid $font_color
  border-radius: 10px
.price_list
  tr
    th, td
      text-align: center


.related_pictures
  list-style: none
  li
    float: left
    margin-right: 10px
