// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "utilities"
#content
  text-align: center


#content_help
  background: white

  .help_content
    .row_help
      margin-top: 10px
      table
        width: 570px
        height: 500px
        font-family: 'Raleway', sans-serif
        th
          font-weight: bold
          font-size: 1.357em  //19px/14px

        th, td

          color: $font_color
        td
          font-size: 1.214em  //17px/14px
          font-weight: 600
      .table_with_background_of_dog
        background: url('dog.png') no-repeat center center


#content_us
  background: white

  .us_content
    .text_us
    p
      font-size: 1.071em
      text-indent: justify
    .dog_us


#content_tailor
  background: white

  .tailor_content
    padding-top: 9%

    p, li
      color: $font_color
      font-size: 1.429em
      letter-spacing: 1px


      a
        font-weight: bold
        padding-left: 10px

    ol
      margin-left: 10px
      li
        padding: 20px 0

#container_user
  text-align: center
