// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "utilities"

#content
  height: 90%
  position: relative
  background: white url('dog.png') no-repeat center center
  #info
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    width: 1000px
    height: 105px
    margin: auto
    
    p
      color: $font_color
      text-align: center
      font-size: 30px
      font-weight: 600

    .bold
      margin-top: 15px
      a
        color: $font_color  
        font-weight: bold
    