// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "utilities"


#content
  height: 90%
  background: white url('dog.png') no-repeat center center
  position: relative
  #info
    margin-top: 35%
    p
      color: $font_color
      text-align: center
      font-size: 30px
      font-weight: 600

    .bold
      margin-top: 15px
      a
        color: $font_color
        font-weight: bold

#content_help
  background: white
  height: 90%
  .help_content
    .row_help
      margin-top: 30px
      table
        height: 500px
        font-family: 'Raleway', sans-serif
        th
          font-weight: bold
          font-size: 1.357em  //19px/14px

        th, td
          padding-right: 70px
          text-align: center
          color: $font_color
          vertical-align: middle
        td
          font-size: 1.214em  //17px/14px
          font-weight: 600
      .table_with_background_of_dog
        background: url('dog.png') no-repeat center center


#content_us
  background: white
  height: 90%
  .us_content
    .text_us

    p
      font-size: 15px
      text-indent: justify

#content_tailor
  background: white
  height: 90%
  .tailor_content
    padding-top: 9%

    p, li
      color: $font_color
      font-size: 20px
      letter-spacing: 1px


      a
        font-weight: bold
        padding-left: 10px

    ol
      margin-left: 10px
      li
        padding: 20px 0


