/*COLOR VARIABLES*/ 
$header_color: rgba(227,211,190,1)
$font_color: rgba(63,33,13,1)

/*UTILITIES*/
.clearfix
  &:after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0
  display: inline-block

html[xmlns] .clearfix
  display: block

* html .clearfix
  height: 1%