#collection
  .container.container_gallery
    .row.gallery_row
      %ul.ourHolder
        - @collection.in_groups_of(3, false) do |collections|
          - collections.each do |collection|
            %li{class: "item", :data => {id: collection.id, type: collection.sub_category.downcase}}
              = link_to (image_tag collection.picture.url(:medium), class:'img-responsive gallery_img'), product_path(collection)
