#collection
  .container.container_gallery
    .row.gallery_row
      %ul.ourHolder
        - @collection.in_groups_of(3, false) do |collections|
          - collections.each do |product|
            - if product.stock?
              %li{class: "item col-xs-6 col-lg-4 col-md-4", :data => {id: product.id, type: product.sub_category.downcase.split.join("_")}}
                = link_to (image_tag product.default_photo.first.picture.url(:medium), class:'img-responsive gallery_img'), product_path(product)
